<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>TLogin</servlet-name>
		<servlet-class>AccLogin.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TLogin</servlet-name>
		<url-pattern>/LoginAction</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StationsList</servlet-name>
		<servlet-class>AccLogin.Stations</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StationsList</servlet-name>
		<url-pattern>/Station</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TrainsList</servlet-name>
		<servlet-class>AccLogin.Trains</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TrainsList</servlet-name>
		<url-pattern>/Trains</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TicketsSending</servlet-name>
		<servlet-class>AccLogin.TicketServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TicketsSending</servlet-name>
		<url-pattern>/SendTicket</url-pattern>
	</servlet-mapping>
</web-app>